body {
    background-color: #333;
    
}

a {
    text-decoration: none;
}
.btn-1 {
    display: flex;
    justify-content: center;
}

.center-text3,
.center-text2,
.center-text {
    color: azure;
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

.nav-link {
    color: rgb(255, 255, 255);
}


.navbar-toggler {
    background-color: azure;
}

.reg {
    display: flex;
    flex-direction: column;
}

.button-style {
    display: inline-block;
    padding: 8px 15px;
    background: #00affb;
    border: 1px solid #000; 
    color: #333;
    text-decoration: none;
    text-align: center;
}
  
.button-style:hover, .button-style:focus {
    background: #0285bd;
}

.button2-style {
    display: inline-block;
    padding: 8px 15px;
    background: #1dfb00;
    border: 1px solid #000; 
    color: #333;
    text-decoration: none;
    text-align: center;
}
  
.button2-style:hover, .button-style:focus {
    background: #30b500;
}

.center-text2 {
    color: greenyellow;
}

.link-margin {
    margin-left: auto;
  }

/* .navbar-nav {
    display: flex;
    flex-direction: column;
} */

.area-write {
    max-width: 700px;
    height: 500px;
    border: 5px solid black;
    margin: 0 auto;
    background-color: rgb(183, 221, 255);
}

.text {
    font-size: 16px;
    color: rgb(5, 64, 117);
    margin-bottom: 2px;
    padding: 0px;
}

.name {
    font-size: 12px;
    color: rgb(1, 2, 3);
}
.input-text {
    max-width: 700px;
    margin: 10px auto;
    display: flex;

    
}

.cont {
    max-width: 700px;
    margin: 0 auto;
}

textarea {
    margin: 0 auto;
    resize: none;
}

.btn-input {
    background-color: #4bff09;
}